/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.material-icons.success {color:rgb(91, 103, 196)}
.material-icons.failure {color:rgba(221, 87, 87, 0.717)}
.material-icons.cancelled {color:rgb(176, 176, 176)}
.material-icons.skipped {color:rgba(184, 178, 178, 0.992)}
.material-icons.running {color:rgb(185, 189, 81)}
.material-icons.pending {color:rgb(110, 0, 130)}
.material-icons.unknown {color:rgb(176, 176, 176)}